* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  width: 100%;
  height: 60px;
}
.header_left-content {
  display: flex;
}
.header .header-content {
  background-color: #272727;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #33363e;
  z-index: 20;
}
.header ul {
  margin-left: 20px;
  display: flex;
  width: 513px;
  justify-content: space-between;
}
.header ul a {
  font-weight: bold;
  color: #919aa3;
}
.header ul #active {
  color: #fff;
}
.header input {
  width: 230px;
  height: 20px;
  color: #787e85;
  font-size: 16px;
  letter-spacing: -0.67px;
  background-color: #272727;
  outline: none;
  border: none;
  border-right: 1px solid #62676e;
}
.header input::placeholder {
  color: #787e85;
}
.header .icon_background {
  background-color: #62676e;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 20px;
  margin: 0 10px;
}
.header .icon_background i {
  color: white;
}
.header_right-content {
  position: relative;
  display: flex;
  width: 181px;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: #62676e;
  margin-right: 10px;
}
.header_right-content div {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.header_right-content div i {
  cursor: pointer;
}
.header_right-content div p {
  font-weight: bold;
}
.header_right-content div::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #62676e;
  left: -10px;
}
.header_right-content div::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #62676e;
  right: 50px;
}

.main_sections {
  display: flex;
}
.main_sections .first-section {
  background-color: #2a2c32;
  width: 1300px;
  flex: 2;
  padding-left: 130px;
  padding-right: 25px;
  padding-bottom: 150px;
  box-shadow: 15px 0 5px -5px #1b1b1d;
  z-index: 2;
}
.main_sections-navItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #33363e;
}
.main_sections-navItems ul {
  display: flex;
  padding: 25px;
  width: 500px;
  justify-content: space-between;
}
.main_sections-navItems ul a {
  color: #787e85;
  font-size: 16px;
  font-weight: bold;
  color: #919aa3;
}
.main_sections-navItems ul #active {
  color: #fff;
  position: relative;
}
.main_sections-navItems ul #active::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 2px;
  display: block;
  background-color: red;
  top: 44px;
  left: -24px;
}
.main_sections-navItems .end-text {
  display: flex;
  height: 100%;
  align-items: center;
}
.main_sections-navItems .end-text .timeline-button {
  padding: 10px;
  font-size: 12px;
  background-color: #f40034;
  width: 100px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
}
.main_sections-navItems .end-text .list-button {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #3a3d43;
  width: 100px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  background-color: #272626;
}
.main_sections .date {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33363e;
}
.main_sections .date .dateResolved {
  display: flex;
  width: 180px;
  height: 36px;
  border: 1px solid #3a3d43;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}
.main_sections .date .dateResolved p {
  color: #fff;
  font-size: 14px;
}
.main_sections .date .dateResolved i {
  color: #787e85;
  cursor: pointer;
}
.main_sections .date .calendar {
  width: 270px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #3a3d43;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_sections .date .calendar p {
  color: #fff;
  font-size: 14px;
}
.main_sections .date .calendar i {
  color: #787e85;
  cursor: pointer;
}
.main_sections .won {
  font-size: 16px;
  color: #03bb4f !important;
  font-weight: bold;
}
.main_sections .fribet {
  background-color: #ffd206 !important;
  width: 57px;
  text-align: center;
  color: #1e2024 !important;
  font-weight: bold !important;
}
.main_sections .betting_content {
  height: 60px;
  padding-left: 20px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #33363e;
}
.main_sections .betting_content label {
  font-size: 10px;
  color: #919aa3;
}
.main_sections .betting_content .first-items {
  display: flex;
  width: 400px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.main_sections .betting_content .first-items .first_icon_and-text {
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.main_sections .betting_content .first-items .first_icon_and-text :last-child {
  position: absolute;
  left: 80px;
}
.main_sections .betting_content .first-items i {
  color: #ffd206;
}
.main_sections .betting_content p {
  color: #fff;
}
.main_sections .betting_content .betting_secondItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.main_sections .id_and_date {
  display: flex;
  flex-direction: column;
}
.main_sections .tickedId {
  height: 16px;
  width: 56px;
  background-color: #dfe3e5;
}
.main_sections .tickedId p {
  font-size: 14px;
  color: #232529;
  font-weight: bold;
  text-align: center;
}
.main_sections .id_top_label {
  font-size: 10px;
  color: #919aa3;
  margin-bottom: 3px;
}
.main_sections .betting_thirdItems {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: 13px;
  position: relative;
}
.main_sections .betting_thirdItems .txt {
  font-size: 10px;
  color: #919aa3;
  font-weight: bold;
}
.main_sections .betting_thirdItems .cash {
  font-size: 16px;
  color: #fff;
}
.main_sections .betting_thirdItems .cash span {
  color: #919aa3;
  font-size: 10px;
  vertical-align: top;
}
.main_sections .betting_thirdItems div {
  width: 100px;
  display: flex;
}
.main_sections .betting_middle-items {
  display: flex;
  width: 200px;
  justify-content: space-between;
  position: absolute;
  right: 300px;
}
.main_sections .betting_middle-items .last-child {
  display: flex;
  margin-top: 8px;
  height: 100%;
  justify-content: center;
  width: 100px;
  flex-direction: column;
}
.main_sections .betting_middle-items :first-child p {
  color: #919aa3;
  font-weight: bold;
}
.main_sections .betting_middle-items p label {
  vertical-align: top;
}
.main_sections .betting_last-icons {
  display: flex;
  width: 170px;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  right: 5px;
}
.main_sections .betting_last-icons .first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 40px;
  background-color: #0376bb;
  border-radius: 4px;
}
.main_sections .betting_last-icons .first :hover {
  cursor: pointer;
}
.main_sections .betting_last-icons .first i {
  color: #fff;
}
.main_sections .betting_last-icons .second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 113px;
  height: 40px;
  border-radius: 4px;
  background-color: #03bb4f;
  color: #fff;
  font-weight: bold;
}
.main_sections .betting_last-icons .second :hover {
  cursor: pointer;
}
.main_sections .winner {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: 50px;
}
.main_sections .winner p label {
  vertical-align: top;
}
.main_sections .lost {
  margin-top: 10px;
  width: 15px;
  height: 2px;
  background-color: red;
}
.main_sections .display_more {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 36px;
  border-radius: 4px;
  background-color: #33363e;
  cursor: pointer;
}
.main_sections .display_more p {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.gift {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.missing-item {
  width: 224px !important;
}

.main_sections-second {
  background-color: #272727;
  flex: 1;
}
.main_sections-second .content {
  font-size: 18px;
  color: #fff;
  padding-left: 60px;
  padding-right: 100px;
}
.main_sections-second .content .title {
  display: flex;
  height: 90px;
  border-bottom: 1px solid #33363e;
  align-items: center;
}
.main_sections-second .content .soccer {
  display: flex;
  width: 90px;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #33363e;
  align-items: center;
}
.main_sections-second .content .soccer p {
  color: #919aa3;
  font-size: 18px;
  margin-left: 15px;
}
.main_sections-second .content .soccer i {
  color: #787e85;
}
.main_sections-second .content .teams-flex {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #33363e;
}
.main_sections-second .content .teams-flex .logo-and-score {
  display: flex;
  position: absolute;
  left: 50%;
  width: 150px;
  justify-content: space-around;
  transform: translateX(-50%);
  height: 100%;
  align-items: center;
}
.main_sections-second .content .teams-flex p {
  font-size: 16px;
  width: 100px;
}
.main_sections-second .content .teams-flex .result_items {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.main_sections-second .content .teams-flex .result_items span {
  color: #787e85;
  font-size: 14px;
  font-weight: bold;
}
.main_sections-second .content .teams-flex .result_items label {
  color: #62676e;
  font-size: 10px;
}
.main_sections-second .content .teams-flex .result_items p {
  width: 42px;
  height: 22px;
  background-color: rgba(3, 187, 79, 0.5);
  font-size: 14px;
  font-weight: bold;
  padding-top: 2px;
  border-radius: 4px;
}
.main_sections-second .content .firstTeamName {
  position: absolute;
  left: 50%;
  left: -70px;
  transform: translateX(-50%);
  text-align: right !important;
}
.main_sections-second .content .secondTeamName {
  position: absolute;
  left: 50%;
  left: 220px;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1600px) {
  .betting_content .first-items {
    width: 350px !important;
  }

  .betting_middle-items {
    right: 200px !important;
  }

  .winner {
    position: relative;
    right: 30px;
  }
}
@media only screen and (max-width: 1366px) {
  .main_sections-second {
    display: none;
  }

  .main_sections .first-section {
    padding-right: 130px;
  }

  .id_top_label {
    margin-top: 20px;
  }

  .tickedId {
    display: none;
  }
}
@media only screen and (max-width: 1366px) {
  .main_sections .first-section {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
