@media only screen and (max-width: 1620px) {
  .main_sections .betting_middle-items {
    right: 200px;
  }
  #betting_first-items {
    width: 300px;
  }
  .main_sections .winner {
    margin-left: 100px;
  }
  .main_sections-second .content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1375px) {
  .main_sections-second {
    display: none;
  }
  .main_sections .first-section {
    padding-right: 130px;
  }

  .id_top_label {
    margin-top: 20px;
  }
  .tickedId {
    display: none;
  }
  .main_sections .date .livescore {
    display: flex;
  }
}

@media only screen and (max-width: 1180px) {
  .main_sections .first-section {
    padding-left: 10px;
  }

  .header .input {
    width: 10px;
  }
  .main_sections .first-section {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 855px) {
  #cashout {
    display: none;
  }
  .main_sections .betting_last-icons {
    width: 50px;
  }
  .main_sections .betting_last-icons .second {
    background-color: transparent;
    color: #03bb4f;
  }
  #betting_last-firstIcon {
    background-color: transparent;
  }
  #betting_last-firstIcon i {
    color: #0376bb;
  }

  .main_sections .betting_middle-items {
    right: 90px;
  }
  .header-content ul {
    width: 414px;
  }
}
@media only screen and (max-width: 768px) {
  .hidden {
    display: none;
  }
  .main_sections-navItems ul {
    width: 350px;
  }
}
@media only screen and (max-width: 713px) {
  .header ul {
    font-size: 13px;
    width: 300px;
  }
  .main_sections .betting_middle-items {
    display: none;
  }
  .main_sections .date .livescore {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mob_hide {
    display: none;
  }
  .header ul {
    width: 70px;
  }

  .main_sections-navItems ul {
    width: 135px;
  }
}
@media only screen and (max-width: 500px) {
  .main_sections .date .calendar {
    display: none;
  }
  .main_sections .betting_content .betting_secondItems {
    display: none;
  }
  #betting_first-items {
    width: 220px;
  }
}
