@media only screen and (max-width: 1600px) {
  .main_sections .betting_middle-items {
    right: 200px;
  }
  .winner {
    position: relative;
    right: 30px;
  }
}

@media only screen and (max-width: 1366px) {
  .main_sections-second {
    display: none;
  }
  .main_sections .first-section {
    padding-right: 130px;
  }

  .id_top_label {
    margin-top: 20px;
  }
  .tickedId {
    display: none;
  }
  .main_sections .date .livescore {
    display: flex;
  }
}

@media only screen and (max-width: 1180px) {
  .main_sections .first-section {
    padding-left: 10px;
  }
  #betting_first-items {
    width: 300px;
  }
  .header .input {
    width: 10px;
  }
  .main_sections .first-section {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 855px) {
  #cashout {
    display: none;
  }
  .main_sections .betting_last-icons {
    width: 50px;
  }
  .main_sections .betting_last-icons .second {
    background-color: transparent;
    color: #03bb4f;
  }
  #betting_last-firstIcon {
    background-color: transparent;
  }
  #betting_last-firstIcon i {
    color: #0376bb;
  }

  .main_sections .betting_middle-items {
    right: 90px;
  }
  .header-content ul {
    width: 414px;
  }
}
@media only screen and (max-width: 768px) {
  .main_sections .date .livescore {
    display: none;
  }
  .winner {
    right: 50px;
  }
}
